@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.PopularTags {
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    display: none;
  }

  .PopularTag_h1 {
    color: $text-color;
    margin-bottom: 16px;
    font-size: 16px;
  }

  .PopularTagBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .button1 {
      background-color: $white-color;
      border: 1px solid $border-color;
      color: $text-color-light;
      font-size: 14px;
      padding: 10px;

      &:hover {
        color: $orange-color;
        border: 1px solid $orange-color;
      }
    }
  }
}
