@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.sliderContainer {
  width: 100%;
  height: 100%;

  :global(.slick-slider),
  :global(.slick-list),
  :global(.slick-track),
  :global(.slick-slide > div) {
    height: 100%;
  }
  :global(.slick-dots) {
    bottom: 10px;
  }
}
:global(.slick-arrow) {
  display: none !important;
}

.slide {
  max-height: 400px;
  background-color: inherit;
  // background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  // @include border;
  @include flex-center;

  img {
    // border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
