@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.sliderContainer {
  width: 100%;
  // @include border;
  height: 100%;
  // margin: 0 auto;

  :global(.slick-slider),
  :global(.slick-list),
  :global(.slick-track),
  :global(.slick-slide > div) {
    height: 100%;
  }
  // :global(.slick-dots) {
  //   // bottom: 0px;
  // }
}
:global(.slick-arrow) {
  display: none !important;
}

.slide {
  color: $text-color;
  max-height: 400px;
  background-color: inherit;
  @include flex-center;
  flex-direction: column;

  img {
    margin: 0 auto;
    width: 40%;
    height: 50%;
    object-fit: cover;
  }
}
