@use '../../../../src/styles/variables' as *;
@use '../../../../src/styles/mixins' as *;

.priorityProduct {
  color: $text-color;
  @include border;
  @include flex-center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: none !important;
  position: relative;
  border-radius: 0;
  height: 100%;

  .priorityProductInfo {
    @include flex-center;
    flex: 1;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    gap: 8px;
    width: 100%;

    span:nth-child(1) {
      font-weight: 500;
      font-size: 1rem;
    }

    span:nth-child(2) {
      font-size: 0.875rem !important;
      color: $primary-color;
      font-weight: 600;
    }
  }
}
.state {
  width: 80px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 2px;
  @include flex-center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
