@use '../../../../src/styles/variables' as *;
@use '../../../../src/styles/mixins' as *;

.gridItem {
  &:nth-child(1) {
    padding: 3px;
    margin: auto 0;
  }
}

.boxContainer {
  position: relative;
  overflow: hidden;
  min-height: 250px;

  &:nth-child(1) {
    background-color: $black-color !important;
  }
  &:nth-child(2) {
    color: $text-color !important;
  }
}

.container {
  background-color: $banner-bg-color;
  @include flex-center;
  flex-direction: column;
  align-items: start;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  bottom: 50px;

  @media (max-width: 430px) {
    bottom: 30px;
  }

  &:nth-child(2) {
    position: absolute;
    left: 185px !important;
    gap: 10px;
  }
}

.text {
  margin-bottom: 10px;
  font-size: clamp(1.25rem, 1.5rem, 1.5rem);
  font-weight: 600;

  @media (max-width: 430px) {
    font-size: 1.25rem;
  }
}

.price {
  color: $primary-color !important;
  font-size: clamp(1.25rem, 1.5rem, 1.5rem);
  font-weight: 600;
  margin-bottom: 10px;
}

.divider {
  font-weight: 600;
  text-transform: uppercase;
  color: $yellow-color;

  @media (max-width: 430px) {
    font-size: 0.875rem;
  }
}

img {
  width: 100%;
}
.widgetImage {
  width: 60%;
  position: relative;
  left: 150px;
}
