@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.shopWithCategories {
  color: $text-color;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: clamp(2rem, 2.5vw, 2rem);
  }
}
.container {
  width: 100%;
}
.containerItems {
  max-height: 236px;
  padding: 10px;
  width: 100% !important;
  box-sizing: border-box;

  transition:
    transform 0.3s ease,
    background 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  img {
    max-height: 200px;
    object-fit: contain;
    box-sizing: border-box;
    width: 100%;
  }

  // Mobile version
  @media (max-width: 768px) {
    min-width: 100%;
    max-height: none;
    padding: 5px;
    transform: none;
    @include border;

    &:hover {
      transform: none;
    }

    img {
      max-height: 180px;
    }
  }
}
