$primary-color: #1976d2;
$secondary-color: #424242;
$background-color: #f5f5f5;
$text-color: #212121;
$text-color-light: #5f6c72;
$border-radius: 8px;
$black-color: #191c1f;
$white-color: #ffffff;
$blue-color: #1b6392;
$border-color: #e4e7e9;
$yellow-color: #ebc80c;
$black-friday-yellow-color: #f3de6d;
$gray-600: #5f6c72;

// BG Colors
$background-color: rgba(242, 244, 245, 1);

// Font Sizes
$base-font-size: 16px;
