@use '../../../../src/styles/variables' as *;
@use '../../../../src/styles/mixins' as *;

.secondMainTag {
  position: static !important;
  background-color: $blue-color !important;
  box-shadow: none !important;
}

.gridItem {
  @include border;
  @include flex-center;
}
