@use "../../../../src/styles/variables" as *;
@use "../../../../src/styles/mixins" as *;

.similarProducts {
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
}
.similarProductsHeader {
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 20px 0 10px 0;
  color: $text-color2;
  min-width: 100%;
}
