@use '../../../../src/styles/variables' as *;

.firstMainTag {
  flex-grow: 1;
  background-color: $blue-color !important;
}
.secondMainTag {
  position: static !important;
  background-color: $blue-color !important;
  padding: 12px 0 !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .container {
    padding: 0 !important;
  }
}
@media (min-width: 768px) {
  .toolbar {
    padding: 0 !important;
  }
}
