@use '../../../../src/styles/variables' as *;
@use '../../../../src/styles/mixins' as *;

.blackFridayWidget {
  background-color: $black-color !important;
  position: relative !important;
  box-shadow: none !important;
  min-height: 60px;
  @include flex-center;

  @media (min-width: 768px) {
    min-height: 80px;
  }
}

.closeButton {
  background-color: #303639;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    scale: 1.05 !important;
  }

  @media (max-width: 768px) {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
  @media (max-width: 768px) {
    right: 14px;
    position: absolute;
  }
  @media (min-width: 768px) {
    right: 24px;
    position: absolute;
  }
}

.gridItems {
  @include flex-center;

  &:nth-child(1) {
    justify-content: start;
  }
  &:nth-child(2) {
    justify-content: center;
    gap: 5px;

    @media (max-width: 430px) {
      justify-content: end;
    }
  }
  &:nth-child(3) {
    justify-content: end;

    @media (max-width: 430px) {
      display: none;
    }
  }
  &:nth-child(4) {
    justify-content: end;
  }
}

.blackText,
.fridayText {
  font-size: clamp($base-font-size, 4vw, 1.5rem);
}
.blackText {
  display: inline-block;
  background-color: $black-friday-yellow-color;
  padding: 6px 10px;
  margin: 0 10px;
  font-weight: 500;
  transform: rotate(-4deg);
  color: $text-color;
  line-height: 1;
}
.firstText,
.thirdText {
  font-size: clamp(0.75rem, 3.5vw, $base-font-size);
}
.thirdText {
  font-weight: 500;
}

.secondText {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 600;
  color: $yellow-color;
}

.shopNow {
  background-color: $black-friday-yellow-color !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  margin: auto 0 !important;
  color: $text-color !important;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: transform 3s ease !important;
    scale: 1.05;
  }
}
