@import '../../../styles/global.scss';

.supportWidget {
  width: 100%;
  max-height: 108px;
  margin-bottom: clamp(1.5rem, 0.891rem + 1.268vw, 2rem);
  img {
    object-fit: cover;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
.supportItem {
  border: 1px solid #e4e7e9;
}

.supportImg {
  margin: auto 0;
}
.supportContent {
  text-align: start;
}
.supportTitle {
  font-weight: 600;
}
