.container {
  background-color: #1b6392;
  color: #ffffff;
  justify-content: space-between;
  height: 56px;
}

/* .item1 {
  background-color: #94bedc;
}

.item2 {
  background-color: #94bedc;
} */
