// @use '../../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.main {
  background-color: #1b6392;
}

.container {
  display: flex;
  color: #ebebeb;
  height: 56px;
}

@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
    min-width: 1240px;
    margin: 0 auto;
  }
}

.gridItem {
  img {
    width: 100px;

    @media (max-width: 430px) {
      width: 70px;
    }
  }
}
/* .item1 {
  background-color: #94bedc;
}

.item2 {
  background-color: #94bedc;
} */
.footerLink {
  color: #ebebeb;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    color: $black-friday-yellow-color;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    text-decoration-color: $black-friday-yellow-color;
  }
}
