@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.homePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.grid {
  flex: 1;
  box-sizing: border-box;
  padding: 20px 0;
  max-width: 1440px;
  color: $text-color;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 0;
    padding: 10px 0;
  }
}

.gridItem:nth-child(2) {
  @include border;
}

.box {
  img {
    width: 30%;
    height: 30%;
    box-sizing: border-box;

    @media (max-width: 768px) {
      width: 70%;
      height: 70%;
    }
  }
}
