.WatchesBanner {
  margin-top: 20px;
  padding-bottom: 20px;
  border: 4px solid #ffe7d6;
  border-radius: 8px;
  width: 120%;

  .WatchesBanner_top {
    .watchImg {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: 33px;
      margin-left: auto;
      margin-right: auto;
    }

    .blocKtext {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .textClocks {
        width: 100%;
        box-sizing: border-box;
        padding: 0 50px;
        margin-left: auto;
        margin-right: auto;
      }

      .blocKtext_h1 {
        font-size: 24px;
        font-weight: 600;
        box-sizing: border-box;
        padding: 16px 16px 10px 16px;
      }
    }

    .priceBlock {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      .priceBlock_p {
        margin-top: 0;
        margin-bottom: 0;
        color: #475156;
      }

      .Block {
        background-color: #f3de6d;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 16px;
        margin-top: 0;
        border-radius: 8px;
      }
    }
  }

  .WatchesBanner_bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    .bottom1 {
      background-repeat: no-repeat;
      background-position: left center;
      background-position: 10% center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;
      width: 80%;
      padding: 10px;
      background-color: #fa8232;
      border: 1px solid #fa8232;
      gap: 10px;
      color: #ffe7d6;

      img {
        max-width: 20px;
        max-height: 20px;
      }

      &:hover {
        background-color: #fa8232;
        cursor: pointer;
      }
    }

    .bottom2 {
      width: 80%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: #ffffff;
      border: 1px solid #fa8232;
      color: #fa8232;
      gap: 10px;

      img {
        max-width: 20px;
        max-height: 20px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  .WatchesBanner {
    display: none;
  }
}
