@use '../../../../src/styles/variables' as *;
@use '../../../../src/styles/mixins' as *;

.socialItemsWidget {
  background-color: $blue-color !important;
  position: relative !important;
  border-bottom: 1px solid $border-color2;
  box-shadow: none !important;
}

.gridItem {
  @include flex-center;
  margin: auto 0;
  min-height: 52px !important;
  justify-content: center;
  font-size: clamp(0.875rem, 3vw, 0.875rem) !important;

  @media (min-width: 430px) {
    justify-content: start;
  }

  &:nth-child(1) {
    @media (max-width: 430px) {
      display: none;
    }
  }

  &:nth-child(2) {
    gap: 12px;
    justify-content: end;
    font-size: clamp(0.875rem, 3vw, 0.875rem) !important;

    @media (max-width: 430px) {
      justify-content: center;
    }

    .social {
      @include flex-center;
      gap: 8px;

      svg {
        @media (max-width: 430px) {
          width: 18px;
          height: 18px;
        }
      }

      svg:hover {
        scale: 1.05;
        cursor: pointer;
        color: $yellow-color;
      }
    }
  }

  @media (max-width: 768px) {
    min-height: 32px !important;
  }
}
